body {
    background-color: rgb(200, 248, 242);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.button {
  background: rgba(213, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  border-radius: 1em;
  border: 1px solid rgb(0, 0, 0);
  border-width: 0.1em;
  color: rgb(48, 41, 41);
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
}
.pixel {
  height: 20px;
  width: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(215, 215, 233);
}
.canvas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 850px;
  vertical-align: middle;
  box-shadow: 3px 3px 3px black;
  margin-top: 1em;
}

#color-controls {
  display: flex;
  margin-top: 20px;
  justify-content: space-evenly;
  flex-direction: row;
}
.canvascontainer {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.button:hover {
  background-color: rgb(0, 0, 0);
}

#Header {
  background-color: rgb(251, 128, 128);
  padding: 1em;
  display: flex;
  justify-content: center;
  margin: 0;
}

#color-selected {
  background: rgba(213, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  border-radius: 1em;
  border: 1px solid rgb(0, 0, 0);
  border-width: 0.1em;
  color: rgb(48, 41, 41);
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
}
#color-selected-container{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 1em;
}
#title-color-selected{
display: flex;
justify-content: center;
align-items: center;
}
.SubHeader{
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.function-buttons{
    background-color: rgba(255, 255, 255, 0.881);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0%;
    padding: 0.5em;
}

.home-elements{
    width: 100%;
    display: flex;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(to top, #502c2c, #b92929);
}
#function-button-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* @media only screen and (max-width: 320px) {
    /* For mobile phones: */
    /* .menu, .main, .right {
      width: 100%;
    }
  } */
  /* @media only screen and (max-width: 375px) {
    /* For mobile phones: */
    /* .menu, .main, .right {
      width: 100%;
    }
  } */
  /* @media only screen and (max-width: 425px) {
    /* For mobile phones: */
    /* .menu, .main, .right { 
      /* width: 100%;
    }
  }  */
  /* @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* .menu, .main, .right {
      width: 100%;
    }
  }
  @media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    /* .menu, .main, .right { */
      /* width: 100%; */
    /* } */
  /* } */
  /* @media only screen and (max-width: 1440px) { */
    /* For mobile phones: */
    /* .menu, .main, .right { */
      /* width: 100%; */
    /* } */
  /* }  */